.ui-button-icon-only .ui-icon
{
	margin-left: -8px;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon
{
	margin-top: -8px;
}

.interfaceMasterViewportImage
{
	background-repeat: no-repeat;
	background-position: left center;
	top: 0px;
	height: 55px;
	border-bottom-style:solid;
	border-width: 8px;
	border-color: white;
}

.interfaceMasterViewportImageLarge
{
	background-repeat: no-repeat;
	background-position: right center;
	top: 0px;
	height: 75px;
}

#interfaceMasterViewportContact
{
	background-image:url(/jscripts/images/1blankspace.viewport.contact.green.png);
}

#interfaceMasterViewportContactLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.contact.green.large.png);
}

#interfaceMasterViewportOpportunityLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.opportunity.large.png);
}

#interfaceMasterViewportProject
{
	background-image:url(/jscripts/images/1blankspace.viewport.project.png);
}

#interfaceMasterViewportProjectLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.project.large.png);
}

#interfaceMasterViewportAction
{
	background-image:url(/jscripts/mages/1blankspace.viewport.action.png);
}

#interfaceMasterViewportActionLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.action.large.png);
}

#interfaceMasterViewportDocument
{
	background-image:url(/jscripts/images/1blankspace.viewport.document.png);
}

#interfaceMasterViewportDocumentLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.document.large.png);
}

#interfaceMasterViewportNews
{
	background-image:url(/jscripts/images/1blankspace.viewport.news.png);
}

#interfaceMasterViewportEvent
{
	background-image:url(/jscripts/images/1blankspace.viewport.event.png);
}

#interfaceMasterViewportEventLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.event.large.png);
}

#interfaceMasterViewportNewsLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.news.large.png);
}

#interfaceMasterViewportProduct
{
	background-image:url(/jscripts/images/1blankspace.viewport.product.png);
}

#interfaceMasterViewportProductLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.product.large.png);
}

#interfaceMasterViewportOrder
{
	background-image:url(/jscripts/images/1blankspace.viewport.order.png);
}

#interfaceMasterViewportOrderLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.order.large.png);
}

#interfaceMasterViewportFinancial
{
	background-image:url(/jscripts/images/1blankspace.viewport.financial.png);
}

#interfaceMasterViewportFinancialLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.financial.large.png);
}

#interfaceMasterViewportHelp
{
	background-image:url(/jscripts/images/1blankspace.viewport.help.png);
}

#interfaceMasterViewportHelpLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.help.large.png);
}

#interfaceMasterViewportSetup
{
	background-image:url(/jscripts/images/1blankspace.viewport.setup.png);
}

#interfaceMasterViewportSetupLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.setup.large.png);
}

#interfaceMasterViewportSetupWebsite
{
	background-image:url(/jscripts/images/1blankspace.viewport.setup.website.png);
}

#interfaceMasterViewportSetupWebsiteLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.setup.website.large.png);
}

#interfaceMasterViewportSetupUser
{
	background-image:url(/jscripts/images/1blankspace.viewport.setup.website.png);
}

#interfaceMasterViewportSetupUserLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.setup.website.large.png);
}

#interfaceMasterViewportMessagingEmail
{
	background-image:url(/jscripts/images/1blankspace.viewport.messaging.email.png);
}

#interfaceMasterViewportMessagingEmailLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.messaging.email.large.png);
}

#interfaceMasterViewportReport
{
	background-image:url(/jscripts/images/1blankspace.viewport.report.png);
}

#interfaceMasterViewportMessagingConversation
{
	background-image:url(/jscripts/images/1blankspace.viewport.messaging.conversation.png);
}

#interfaceMasterViewportMessagingConversationLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.messaging.conversation.large.png);
}

#interfaceMasterViewportReportLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.report.large.png);
}

#interfaceMasterViewportAutomation
{
	background-image:url(/jscripts/images/1blankspace.viewport.automation.png);
}

#interfaceMasterViewportAutomationLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.automation.large.png);
}

#interfaceMasterViewportDeveloper
{
	background-image:url(/jscripts/images/1blankspace.viewport.developer.png);
}

#interfaceMasterViewportDeveloperLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.developer.large.png);
}

#interfaceMasterViewportDeveloperSpace
{
	background-image:url(/jscripts/images/1blankspace.viewport.developer.space.png);
}

#interfaceMasterViewportDeveloperSpaceLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.developer.space.large.png);
}

#interfaceMasterViewportDeveloperBilling
{
	background-image:url(/jscripts/images/1blankspace.viewport.developer.billing.png);
}

#interfaceMasterViewportDeveloperBillingLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.developer.billing.large.png);
}

#interfaceMasterViewportSetupSpace
{
	background-image:url(/jscripts/images/1blankspace.viewport.setup.space.png);
}

#interfaceMasterViewportSetupSpaceLarge
{
	background-image:url(/jscripts/images/1blankspace.viewport.setup.space.large.png);
}

body 
{
	font-size: 100%;
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
}

span, div, textarea, input, td
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	vertical-align: top;
}

h2, th
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	vertical-align: top;
	font-size:0.875em;
}

h3
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	vertical-align: top;
	font-size:0.75em;
}

table
{
	width: 100%;
}

a:link, a:visited, a:active
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	color: #DA8300;
	text-decoration: none;
	font-size: 0.875em;
}

a:hover
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	color: #006EBA;
	font-size: 0.875em;
}

#divInterface
{
	position: absolute;
	width: 900px;
	top: 0;
	margin-top: 15px;
}

#tdInterfaceMainHomeColumn1
{
	padding-top: 10px;
	padding-right: 15px;
}

#tdInterfaceMainHomeColumn2
{
	padding-left: 15px;
	border-left-style:solid;
	border-width: 1px;
	border-color: #B8B8B8;
}

#divInterfaceViewportControl
{
	position: absolute;
	width: 150px;
	left: 0px;
	top: 120px;
	margin-top: 20px;
	border-right-style:solid;
	border-width: 2px;
	border-color: #B8B8B8;
	padding-right: 20px;
}

#spanInterfaceMainUploadStatus
{
	padding-top: 20px;
	margin-top: 20px;
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	color: #006EBA;
	font-size: 0.875em;
}

td.interfaceHomeViewport
{
	margin-top: 20px;
}

#divInterfaceMasterViewportControlBrowse
{
	position: absolute;
	width: 900px;
	left: 0px;
	top: 48px;
	margin-top: 20px;
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #B8B8B8;
}

#divInterfaceMain
{
	position: absolute;
	width: 700px;
	left: 185px;
	top: 120px;
	margin-top: 20px;
}

#divInterfacePrint
{
	position: absolute;
	top: 75px;
}

#divInterfaceFooter
{
	position: absolute;
	width: 900px;
	left: 0px;
	bottom: 25px;
}

#divInterfaceMasterViewport
{
	position: relative;
	width: 900px;
	top: 0px;
}

#divInterfaceMasterViewportLogonName
{
	font-weight: bold;
	color: #999999;
	cursor: pointer;
	font-size: 0.875em;
	width: 250px;
	padding-bottom: 5px;
	text-align: right;
}

#divInterfaceMasterViewportSpaceText
{
	font-weight: 100;
	color: #CCCCCC;
	cursor: pointer;
	font-size: 1.25em;
	width: 250px;
	padding-bottom: 2px;
	text-align: right;
}

#divInterfaceMasterViewportControl
{
	position: absolute;
	top: 35px;
	width: 800px;
}

#divInterfaceMasterViewportControlHome
{
	position: absolute;
	top: 0px;
	left: 0px;	
}

#divInterfaceMasterViewportControlDestination
{
	position: absolute;
	top: 0px;
	left: 48px;	
}

#divInterfaceMasterViewportControlSet
{
	position: absolute;
	top: 0px;
	left: 128px;	
	width: 225px;
}

#divInterfaceMasterViewportControlSearch
{
	position: absolute;
	top: 1px;
	left: 360px;
	width: 45px;	
}

#divInterfaceMasterViewportControlSearchStatus
{
	position: absolute;
	top: 5px;
	left: 461px;
	width: 20px;	
	z-index: 1;
}

#divInterfaceMasterViewportControlNew
{
	position: absolute;
	top: 0px;
	left: 502px;	
}

#divInterfaceMasterViewportControlAction
{
	position: absolute;
	top: 0px;
	left: 564px;
}

#divInterfaceMasterViewportControlActionStatus
{
	position: absolute;
	top: 0px;
	left: 648px;
	padding-top: 0px;
	height: 25px;
	color: #A0A0A0;
	width:170px;
	padding-bottom: 4px;
	border-bottom-style:solid;
	border-width: 2px;
	border-color: #f3f3f3;
}

#divInterfaceMasterViewportControlDashboard
{
	position: absolute;
	top: 0px;
	right: 60px;
}

#divInterfaceMasterViewportControlSetup
{
	position: absolute;
	top: 0px;
	left: 838px;
}

#divInterfaceMasterViewportControlHelp
{
	position: absolute;
	top: 0px;
	left: 870px;
}

#divInterfaceMasterViewportControlOptions
{
	position: absolute;
	width: 100px; 
	z-index: 999;
	background-color: transparent;
}

#divInterfaceDialog
{
	position: relative;
	width: 100px; 
	z-index: 99;
	background-color: transparent;
}

#divInterfaceMasterDialog
{
	position: relative;
	width: 100px; 
	z-index: 99;
	background-color: transparent;
}

#divInterfaceViewportControlContext
{
	font-size: 1em;
	font-weight: bold;
	text-align: right;
	width: 100%;
	margin-right: 20px;
}

#spanInterfaceViewportControlSubContext
{
	font-size: 0.875em;
	color: #A0A0A0;
	font-weight: normal;
}

span.interfaceViewportControlSubContext
{
	font-size: 0.875em;
	color: #A0A0A0;
	font-weight: normal;
}

#tableInterfaceViewportControl
{
	padding-top: 20px;
	padding-right: 0px;
}

#tableInterfaceHomeViewport
{
	padding-top: 0px;
	padding-right: 0px;
}

table.interfaceViewportControl
{
	padding-top: 20px;
	padding-right: 0px;
}

span.interfaceMasterViewport
{
	font-size: 0.875em;
}	

span.interfaceHome
{
	font-size: 0.75em;
}	

span.interfaceMessagingHeader
{
	color: #808080;
}

div.interfaceMasterViewport
{
	font-size: 0.875em;
}	

div.interfaceMasterViewportOptions
{
	background-color: transparent;
}

input.interfaceMasterViewport
{
	font-size: 1em;
	height: 22px;
	width: 165px;
	margin-top: 1px;
	padding-left: 3px;
}

td.interfaceMain
{
	font-size: 0.875em;
	color: #B8B8B8;
	font-weight: bold;
	
	padding-top: 5px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 2px;
}


input.interfaceMainRadio, td.interfaceMainRadio
{
	font-size: 0.875em;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 2px;
}

div.interfaceMainDragRow
{
	cursor: pointer;
	font-size: 0.75em;
	background-color: #F6F6F6;
	color: black;
	font-weight: bold;
	text-align: right;

	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	padding-left: 4px;
	
	border-style:solid;
	border-width: 2px;
	border-color: white;
}

span.interfaceMainDragRow
{
	color: #B8B8B8;
	text-align: right;
	font-weight: normal;
}

td.interfaceMainSummaryValue
{
	font-size: 1.0em;
	color: #000000;
	
	padding-top: 1px;
	padding-bottom: 1px;
}

td.interfaceMainColumn
{
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 20px;
}

textarea.inputInterfaceMainTextMulti
{
	height: 250px;
	width: 250px;
	font-size: 0.875em;
	border-style: solid;
	border-width: 1px;
	border-color: #B8B8B8;
	padding-left: 3px;
	padding-top: 3px;
	margin-bottom: 5px;
}

textarea.inputInterfaceMainTextMultiLarge
{
	height: 250px;
	width: 100%;
	font-size: 0.875em;
	border-style: solid;
	border-width: 1px;
	border-color: #B8B8B8;
	padding-left: 3px;
	padding-top: 3px;
	margin-bottom: 5px;
}

textarea.inputInterfaceMainTextMultiSmall
{
	height: 50px;
	width: 100%;
	font-size: 0.875em;
	border-style: solid;
	border-width: 1px;
	border-color: #B8B8B8;
	padding-left: 3px;
	padding-top: 3px;
	margin-bottom: 5px;
}

.inputInterfaceMainSelect, .inputInterfaceMainSelectContact, .inputInterfaceMainSelectContactEmail, .inputInterfaceMainSelectCustom
{
	width: 100%;
	font-size: 0.875em;
	border-style: solid;
	border-width: 1px;
	border-color: #B8B8B8;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
}

.inputInterfaceMainText, .inputInterfaceMainTextMoney
{
	width: 100%;
	font-size: 0.875em;
	border-style: solid;
	border-width: 1px;
	border-color: #B8B8B8;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
}

.inputInterfaceMainDate, .inputInterfaceMainDateTime
{
	width: 100%;
	font-size: 0.875em;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #B8B8B8;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
}

.inputInterfaceMainRadio
{
	font-size: 0.875em;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
}

.inputInterfaceMainDateTime
{
	margin-bottom: 5px;
}

span.interfaceViewportMasterControl, tr.interfaceViewportMasterControl
{
	background-color: transparent;
}

td.interfaceViewportMasterControl
{
	cursor: pointer;
	padding-bottom: 5px;
}

td.interfaceViewportMasterControlColumn
{
	background-color: white;
	border-style: solid;
	border-width: 3px;
	border-color: #F8F8F8;
}

table.interfaceViewportMasterControl, table.interfaceSearch
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 175px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-top:8px;
	margin-bottom:1px;
	margin-right:1px;
	margin-left:1px;
}

table.interfaceViewportMasterControlColumn
{
	background-color: transparent;
	width: 115px;
	
	padding-top: 1px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;

	margin-top:1px;
	margin-bottom:1px;
	margin-right:1px;
	margin-left:1px;
}

table.interfaceSearchMedium, table.interfaceHomeOptionsMedium
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 250px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-bottom: 1px;
	margin-right: 1px;
	margin-left: 1px;
}

table.interfaceDialogMedium
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 250px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #DA8300;
}

table.interfaceDropDown
{
	font-size: 0.75em;
	background-color: #F8F8F8;
	width: 100px;
	
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 3px;
	
	border-width: 0px;
	
	margin-top:4px;
}


.interfaceSearchFooterPage, .interfaceSearchFooter , .interfaceSearchHeaderClose
{
	cursor: pointer;
}	

table.interfaceSearchHeaderMedium
{
	font-size: 0.75em;
	background-color: #E8E8E8;
	width: 250px;
	margin-top: 8px;
}

table.interfaceSearchFooterMedium
{
	font-size: 0.75em;
	background-color: #E8E8E8;
	width: 250px;
}

td.interfaceSearchHeaderMore
{
	padding-right: 0px;
	text-align: right;
	cursor: pointer;
}

table.interfaceMainHeader
{
	margin-bottom: 10px;
}

td.interfaceMainHeader
{
	padding-bottom: 2px;
	margin-bottom: 10px;
	
	text-align: right;
	cursor: pointer;
	font-size: 0.75em;
	
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #E8E8E8;
}

table.interfaceSearchLarge, table.interfaceHomeOptionsLarge
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 325px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-top: 8px;
	margin-bottom: 1px;
	margin-right: 1px;
	margin-left: 1px;
}

.masterDialog
{
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 1px;
	margin-left: 1px;
}

table.interfaceSearchFull, table.interfaceHomeOptionsFull
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 100%;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-top: 8px;
	margin-bottom: 1px;
	margin-right: 1px;
	margin-left: 1px;
}

table.interfaceHomeOptions, table.interfaceMasterUserOptions
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 275px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-top:8px;
	margin-bottom:1px;
	margin-right:1px;
	margin-left:1px;
}

table.interfaceActionOptions
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 150px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-top:8px;
	margin-bottom:1px;
	margin-right:1px;
	margin-left:1px;
}

table.interfaceHomeOptionsLarge
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 475px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-top:0px;
	margin-bottom:1px;
	margin-right:1px;
	margin-left:1px;
}

table.interfaceHomeOptionsHeaderLarge
{
	font-size: 0.875em;
	background-color: #E8E8E8;
	width: 475px;
	
	padding-top: 5px;
	padding-bottom: 1px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 2px;
	border-color: #E8E8E8;
	
	margin-top:5px;
	margin-bottom:0px;
	margin-right:1px;
	margin-left:1px;
}

td.interfaceHomeOptionContext
{
	font-weight: bold;
}

td.interfaceHomeOptionClose
{
	padding-top: 5px;
	text-align: right;
	cursor: pointer;
	font-size: 0.75em;
	color: #A8A8A8;
	font-weight: bold;
}

table.interfaceMainShow
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 200px;
	
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 5px;
	border-color: #E8E8E8;
	border-spacing: 0px;
	border-collapse:collapse;
	
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
	margin-left:5px;
}

td.interfaceSearch, td.interfaceHomeOptions, td.interfaceMasterUserOptions, td.interfaceSearchSub, td.interfaceActionOptions
{
	border-top-style: solid;
	border-width: 0px;
	border-color: #B8B8B8;
	cursor: pointer;
	font-size: 0.875em;
}

td.interfaceHomeMostLikely, td.interfaceRowSelect
{
	cursor: pointer;
	color: #DA8300;
	text-decoration: none;
	font-size: 0.875em;
}

td.interfaceHomeMostLikelySub
{
	color: #808080;
	font-size: 0.75em;
	padding-left: 15px;
	vertical-align: bottom;
}

span.interfaceHomeOptions
{
	color: #888888;
	cursor: pointer;
	padding-left: 5px;
}

td.interfaceViewportControlSub
{
	color: #808080;
	font-size: 0.75em;
}

td.interfaceMessagingSubHeader, td.interfacePaginationListSubHeader
{
	color: #808080;
	font-size: 0.75em;
}

td.interfaceViewportControl
{
	text-align: right;
	padding-right: 0px;
	cursor: pointer;
}

td.interfaceHomeViewport
{
	text-align: right;
	padding-right: 0px;
	font-weight: bold;
}

table.interfaceViewportControl
{
	width: 100%;
	margin-right: 20px;
	vertical-alignment: top;
}

table.interfaceHomeViewport
{
	width: 100%;
	vertical-alignment: top;
}

#tableInterfaceMainSummary
{
	width: 100%;
}

#tdInterfaceMainSummaryColumn1
{
	width: 50%;
}

#tdInterfaceMainSummaryColumn2
{
	width: 50%;
}

#tdInterfaceMainColumn2
{
	width: 50%;
}

td.interfaceMainSummaryValue
{
	padding-bottom: 10px;
}

td.interfaceMainSummary
{
	color: #B8B8B8;
	font-weight: bold;
}

td.interfaceMainSummaryAction
{
	color: #FFCC00;
}

td.interfaceMainColumn1
{
	width: 50%;
	padding-right: 15px;
}

td.interfaceMainColumn1Large
{
	padding-right: 15px;
}

td.interfaceMainColumn2Action
{
	border-left-style:solid;
	border-width: 2px;
	border-color: #B8B8B8;
	padding-left: 10px;
	width: 50px;
}

td.interfaceMainColumn2
{
	border-left-style:solid;
	border-width: 2px;
	border-color: #B8B8B8;
	padding-left: 10px;
}

input.interfaceMainUpload
{
	width: 150px;
}

.interfaceMainMarginTop
{
	margin-top: 15px;
}

td.interfaceMainAction, span.interfaceMainAction
{
	font-size: 0.75em;
}

td.interfaceImportant
{
	color: red; 
}

td.interfaceInactive
{
	color: #CCCCCC;
}

td.interfaceAlignRight
{
	text-align:right;
}

table.interfaceMainColumn1
{
	width: 100%;
}

#inputInterfaceMasterViewportControlSearch
{
	width: 130px;
	font-size: 0.875em;
	padding:1px;
	padding-left:3px;
	margin:0px;
}	

#divInterfaceMasterViewportControlSearchStatus
{
	padding-top: 5px;
}

#divInterfaceBox
{
	position: absolute;
	font-size: 0.75em;
	width: 275px;
	top: 60px;
}

#divInterfaceMasterViewportSpaceName
{
	top: 0;
	left: 0;
	height: 75px;
}

#tdInterfaceMasterHeaderColumn1
{
	text-align: left;
	vertical-align: bottom;
}

#tdInterfaceMasterHeaderColumn2
{
	text-align: right;
	vertical-align: bottom;
}

#tableInterfaceMasterHeader
{
	width: 900px;
	margin-top: 5px;
}

span.spanInterfaceMainOptionsClose
{
	position: absolute;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 7px;
	height: 30px;
}

td.interfaceMainShowAction
{
	vertical-align: middle;
	height: 30px;
}

td.interfaceMainRowSelect
{
	cursor: pointer;
	border-spacing: 0px;
}

td.interfaceMainCaption, td.interfaceHomeOptionCaption, td.interfaceMainShowHeader
{
	font-size: 0.875em;
	color: #888888;
	font-weight: bold;
	padding: 2px;
	background-color: #F8F8F8;
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #FFFFFF;	
}

td.interfaceMainCaptionSuper
{
	font-size: 1.0em;
	color: #888888;
	padding-top: 4px;
	padding-bottom: 2px;
	background-color: #F8F8F8;
	border-bottom-style:solid;
	border-width: 3px;
	border-color: #FFFFFF;	
}

td.interfaceHomeOptionCaptionOptions
{
	font-size: 0.875em;
	color: #888888;
	font-weight: bold;
	padding: 2px;
	background-color: #F8F8F8;
}

td.interfaceHomeAction
{
	font-size: 0.75em;
	color: #888888;
	padding: 1px;
	background-color: transparent;
}

td.interfaceMainCaptionRight
{
	font-size: 0.875em;
	color: #888888;
	font-weight: bold;
	padding: 2px;
	text-align: right;	
}

td.interfaceMainRight
{
	text-align: right;	
}

td.interfaceMainBold
{
	font-weight: bold;	
}

td.interfaceViewportControlHighlight
{
	font-weight: bold;	
	color: #DA8300;	
}

input.interfaceMasterHighlight
{
	border-style:solid;
	border-width: 1px;
	border-color: #DA8300;	
}

textarea.interfaceMasterHighlight
{
	border-style:solid;
	border-width: 1px;
	border-color: #DA8300;	
}

.Highlight
{
	font-weight: bold;	
	color: #DA8300;	
}

td.interfaceMainCaptionCentre
{
	font-size: 0.875em;
	color: #888888;
	font-weight: bold;
	padding: 2px;
	text-align: center;	
}

td.interfaceMainRow, td.interfaceMainRowOptions
{
	font-size: 0.875em;
	border-spacing: 0px;
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #D0D0D0;	
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 2px;
}

td.interfaceHomeOptionRow
{
	font-size: 0.875em;
	border-spacing: 0px;
	border-bottom-style:solid;
	border-width: 2px;
	border-color: #FFFFFF;	
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 2px;
}

td.interfaceMainRowNothing
{
	font-size: 0.875em;
	color: #888888;
}

td.interfaceHomeOptionRowOptions
{
	padding-top: 0px;
}

td.interfaceMainColumnCaption
{
	font-size: 0.875em;
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #888888;	
	background-color: transparent;
	width: 70%;
	color: #888888;	
}


td.interfaceMainValue
{
	font-size: 0.875em;
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #888888;	
	background-color: transparent;	
}

td.interfaceMainReadOnlyValue
{
	font-size: 0.875em;
	color: #585858;
	font-weight: normal;
	
}

td.interfaceMainRowOptionsSelect
{
	margin-left: 5px;
}

td.interfaceMainOptionsSelect
{
	margin-left: 5px;
}

table.tableInterfaceViewportMasterBrowse
{
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #888888;	
}

td.interfaceViewportMasterControlBrowse
{
	border-right-style:solid;
	border-width: 1px;
	border-color: #888888;	
	cursor: pointer;
	color: #888888;
	text-align: center;
	width: 20px;
	background-color: #F8F8F8;
}

td.interfaceViewportMasterControlBrowseAll
{
	cursor: pointer;
	color: #888888;
	text-align: center;
	width: 20px;
	background-color: #F8F8F8;
}

#tdAssignTeamManualColumn1
{
	width: 30%;
}

td.interfaceViewportMasterCalendar
{
	color: #888888;
	text-align: right;
	font-size: 0.875em;
}

.interfaceMasterWatermark
{
	color: #BCBCBC;
	font-style: italic;
}

table.interfaceDropDown
{
	background-color: #F8F8F8;
	
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 3px;
	
	border-style: solid;
	border-width: 1px;
	border-color: #E8E8E8;
	
	margin-top:-4px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
}

.interfaceMasterBorder
{
	border-style:solid;
	border-width: 1px;
	border-color:#D0D0D0;	
}

span.interfaceMainAtoZ
{
	width: 7px;
}	

.version2
{
	cursor: default;
	color: #C0C0C0
}

.version3
{
	cursor: default;
	color: #C0C0C0
}
