body 
{
	font-size: 100%;
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
}

span, div, textarea, input, td
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	vertical-align: top;
}

h2, th
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	vertical-align: top;
	font-size: 0.875em;
}

h3
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	vertical-align: top;
	font-size: 0.75em;
}

table
{
	width: 100%;
	border-spacing: 0px;
}

td
{
	padding: 2px;
}

a:link, a:visited, a:active
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	color: #ee8f00; 
	text-decoration: none;
	font-size: 0.875em;
}

a:hover
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	color: #006EBA;
	font-size: 0.875em;
}

#ns1blankspaceContainer
{
	position: relative;
	width: 900px;
	min-height: 900px;
	overflow: auto;
	margin: auto;
}

#ns1blankspaceHeaderContainer
{
	position: absolute;
	width: 900px;
	top: 0px;
}

#ns1blankspaceViewControl
{
	position: absolute;
	width: 900px;
	top: 50px;
	font-size: 0.67em;
}

#ns1blankspaceControl
{
	position: absolute;
	width: 150px;
	left: 0px;
	top: 70px;
	margin-top: 20px;
	border-right-style:solid;
	border-width: 2px;
	border-color: #B8B8B8;
	padding-right: 20px;
}

#ns1blankspaceMain
{
	position: absolute;
	width: 700px;
	left: 185px;
	top: 70px;
	margin-top: 20px;
}

#ns1blankspaceFooter
{
	position: absolute;
	width: 900px;
	left: 0px;
	bottom: 25px;
}

#ns1blankspaceMultiUseContainer
{
	position: absolute;
	width: 100px; 
	z-index: 999;
	background-color: transparent;
}

#ns1blankspaceViewControlBrowse
{
	position: absolute;
	width: 900px;
	left: 0px;
	top: 48px;
	margin-top: 20px;
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #B8B8B8;
}

#ns1blankspaceLogonName
{
	font-weight: bold;
	color: #999999;
	cursor: pointer;
	font-size: 0.875em;
	width: 250px;
	padding-bottom: 5px;
	text-align: right;
}

#ns1blankspaceSpaceText
{
	font-weight: 100;
	color: #CCCCCC;
	cursor: pointer;
	font-size: 1.25em;
	width: 250px;
	padding-bottom: 2px;
	text-align: right;
}

#ns1blankspaceViewControlHomeContainer
{
	position: absolute;
	top: 0px;
	left: 0px;	
}

#ns1blankspaceViewControlHistoryContainer
{
	position: absolute;
	top: 0px;
	left: 52px;	
}

#ns1blankspaceViewControlViewContainer
{
	position: absolute;
	top: 0px;
	left: 135px;	
	width: 216px;
}

#ns1blankspaceViewControlSearch
{
	position: absolute;
	left: 360px;
	width: 130px;
	padding-top: 0px;
	padding-left: 3px;
	margin-top: 1px;
	font-size: 1.25em;
	height: 23px;
}

#ns1blankspaceViewControlSearchStatus
{
	position: absolute;
	top: 5px;
	left: 461px;
	width: 20px;	
	z-index: 1;
}

#ns1blankspaceViewControlNewContainer
{
	position: absolute;
	top: 0px;
	left: 504px;	
}

#ns1blankspaceViewControlActionContainer
{
	position: absolute;
	top: 0px;
	left: 567px;
}

#ns1blankspaceViewControlActionStatus
{
	position: absolute;
	top: 0px;
	left: 648px;
	padding-top: 0px;
	height: 25px;
	color: #A0A0A0;
	width:170px;
	padding-bottom: 4px;
	border-bottom-style:solid;
	border-width: 2px;
	border-color: #f3f3f3;
}

#ns1blankspaceViewControlSetupContainer
{
	position: absolute;
	top: 0px;
	left: 838px;
}

#ns1blankspaceViewControlHelpContainer
{
	position: absolute;
	top: 0px;
	left: 870px;
}

table.ns1blankspaceViewControlContainer
{
	border-spacing: 5px 5px;

	background-color: #F8F8F8;
	width: 175px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-top:8px;
	margin-bottom:1px;
	margin-right:1px;
	margin-left:1px;
}

.ns1blankspaceViewControlColumn
{
	background-color: #ffffff;
	width: 115px;
	font-size: 0.9375em;
	border-spacing: 6px;
}

td.ns1blankspaceViewControl
{
	cursor: pointer;
}

table.ns1blankspaceControl
{
	padding-top: 20px;
	padding-right: 0px;
}

td.ns1blankspaceControl
{
	text-align: right;
	padding-right: 0px;
	cursor: pointer;
}

td.ns1blankspaceHighlight
{
	font-weight: bold;	
	color: #DA8300;	
}

.ns1blankspaceCaption
{
	font-size: 0.875em;
	color: #B8B8B8;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 2px;
}	

table.ns1blankspaceMostLikely
{
	border-spacing: 5px 0px;
}

td.ns1blankspaceMostLikely
{
	cursor: pointer;
	color: #EE8F00;
	text-decoration: none;
	font-size: 0.875em;
}	

.ns1blankspaceControlContext
{
	font-size: 1em;
	font-weight: bold;
	text-align: right;
	width: 100%;
	margin-right: 20px;
}

.ns1blankspaceSummaryCaption
{
	color: #B8B8B8;
	font-weight: bold;
}

.ns1blankspaceSummary
{
	padding-bottom: 10px;
}

.ui-button-icon-only .ui-icon
{
	margin-left: -8px;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon
{
	margin-top: -8px;
}

.ns1blankspaceViewImage
{
	background-repeat: no-repeat;
	background-position: left center;
	top: 0px;
	height: 55px;
	border-bottom-style:solid;
	border-width: 8px;
	border-color: white;
}

.ns1blankspaceViewImageLarge
{
	background-repeat: no-repeat;
	background-position: right center;
	top: 0px;
	height: 75px;
}

.ns1blankspaceTicked, .ticked
{
	height: 13px;
	width: 13px;
	background-repeat: no-repeat;
	background-position: center;
	background-image:url(/jscripts/images/ticked.png);
}

#ns1blankspaceViewContact
{
	background-image:url(/jscripts/images/1blankspace.view.contact.green.png);
}

#ns1blankspaceViewContactLarge
{
	background-image:url(/jscripts/images/1blankspace.view.contact.green.large.png);
}

#ns1blankspaceViewOpportunityLarge
{
	background-image:url(/jscripts/images/1blankspace.view.opportunity.large.png);
}

#ns1blankspaceViewProject
{
	background-image:url(/jscripts/images/1blankspace.view.project.png);
}

#ns1blankspaceViewProjectLarge
{
	background-image:url(/jscripts/images/1blankspace.view.project.large.png);
}

#ns1blankspaceViewAction
{
	background-image:url(/jscripts/images/1blankspace.view.action.png);
}

#ns1blankspaceViewActionLarge
{
	background-image:url(/jscripts/images/1blankspace.view.action.large.png);
}

#ns1blankspaceViewDocument
{
	background-image:url(/jscripts/images/1blankspace.view.document.png);
}

#ns1blankspaceViewDocumentLarge
{
	background-image:url(/jscripts/images/1blankspace.view.document.large.png);
}

#ns1blankspaceViewNews
{
	background-image:url(/jscripts/images/1blankspace.view.news.png);
}

#ns1blankspaceViewEvent
{
	background-image:url(/jscripts/images/1blankspace.view.event.png);
}

#ns1blankspaceViewEventLarge
{
	background-image:url(/jscripts/images/1blankspace.view.event.large.png);
}

#ns1blankspaceViewNewsLarge
{
	background-image:url(/jscripts/images/1blankspace.view.news.large.png);
}

#ns1blankspaceViewProduct
{
	background-image:url(/jscripts/images/1blankspace.view.product.png);
}

#ns1blankspaceViewProductLarge
{
	background-image:url(/jscripts/images/1blankspace.view.product.large.png);
}

#ns1blankspaceViewOrder
{
	background-image:url(/jscripts/images/1blankspace.view.order.png);
}

#ns1blankspaceViewOrderLarge
{
	background-image:url(/jscripts/images/1blankspace.view.order.large.png);
}

#ns1blankspaceViewFinancial
{
	background-image:url(/jscripts/images/1blankspace.view.financial.png);
}

#ns1blankspaceViewFinancialLarge
{
	background-image:url(/jscripts/images/1blankspace.view.financial.large.png);
}

#ns1blankspaceViewHelp
{
	background-image:url(/jscripts/images/1blankspace.view.help.png);
}

#ns1blankspaceViewHelpLarge
{
	background-image:url(/jscripts/images/1blankspace.view.help.large.png);
}

#ns1blankspaceViewSetup
{
	background-image:url(/jscripts/images/1blankspace.view.setup.png);
}

#ns1blankspaceViewSetupLarge
{
	background-image:url(/jscripts/images/1blankspace.view.setup.large.png);
}

#ns1blankspaceViewSetupWebsite
{
	background-image:url(/jscripts/images/1blankspace.view.setup.website.png);
}

#ns1blankspaceViewSetupWebsiteLarge
{
	background-image:url(/jscripts/images/1blankspace.view.setup.website.large.png);
}

#ns1blankspaceViewSetupUser
{
	background-image:url(/jscripts/images/1blankspace.view.setup.website.png);
}

#ns1blankspaceViewSetupUserLarge
{
	background-image:url(/jscripts/images/1blankspace.view.setup.website.large.png);
}

#ns1blankspaceViewMessagingEmail
{
	background-image:url(/jscripts/images/1blankspace.view.messaging.email.png);
}

#ns1blankspaceViewMessagingEmailLarge
{
	background-image:url(/jscripts/images/1blankspace.view.messaging.email.large.png);
}

#ns1blankspaceViewReport
{
	background-image:url(/jscripts/images/1blankspace.view.report.png);
}

#ns1blankspaceViewMessagingConversation
{
	background-image:url(/jscripts/images/1blankspace.view.messaging.conversation.png);
}

#ns1blankspaceViewMessagingConversationLarge
{
	background-image:url(/jscripts/images/1blankspace.view.messaging.conversation.large.png);
}

#ns1blankspaceViewReportLarge
{
	background-image:url(/jscripts/images/1blankspace.view.report.large.png);
}

#ns1blankspaceViewAutomation
{
	background-image:url(/jscripts/images/1blankspace.view.automation.png);
}

#ns1blankspaceViewAutomationLarge
{
	background-image:url(/jscripts/images/1blankspace.view.automation.large.png);
}

#ns1blankspaceViewDeveloper
{
	background-image:url(/jscripts/images/1blankspace.view.developer.png);
}

#ns1blankspaceViewDeveloperLarge
{
	background-image:url(/jscripts/images/1blankspace.view.developer.large.png);
}

#ns1blankspaceViewDeveloperSpace
{
	background-image:url(/jscripts/images/1blankspace.view.developer.space.png);
}

#ns1blankspaceViewDeveloperSpaceLarge
{
	background-image:url(/jscripts/images/1blankspace.view.developer.space.large.png);
}

#ns1blankspaceViewDeveloperBilling
{
	background-image:url(/jscripts/images/1blankspace.view.developer.billing.png);
}

#ns1blankspaceViewDeveloperBillingLarge
{
	background-image:url(/jscripts/images/1blankspace.view.developer.billing.large.png);
}

#ns1blankspaceViewSetupSpace
{
	background-image:url(/jscripts/images/1blankspace.view.setup.space.png);
}

#ns1blankspaceViewSetupSpaceLarge
{
	background-image:url(/jscripts/images/1blankspace.view.setup.space.large.png);
}