.ui-button-icon-only .ui-icon
{
	margin-left: -8px;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon
{
	margin-top: -8px;
}

.ns1blankspaceViewImage
{
	background-repeat: no-repeat;
	background-position: left center;
	top: 0px;
	height: 55px;
	border-bottom-style:solid;
	border-width: 8px;
	border-color: white;
}

.ns1blankspaceViewImageLarge
{
	background-repeat: no-repeat;
	background-position: right center;
	top: 0px;
	height: 75px;
}

.ns1blankspaceTicked, .ticked
{
	height: 13px;
	width: 13px;
	background-repeat: no-repeat;
	background-position: center;
	background-image:url(/jscripts/images/ticked.png);
}

#ns1blankspaceViewContact
{
	background-image:url(/jscripts/images/1blankspace.View.contact.green.png);
}

#ns1blankspaceViewContactLarge
{
	background-image:url(/jscripts/images/1blankspace.View.contact.green.large.png);
}

#ns1blankspaceViewOpportunityLarge
{
	background-image:url(/jscripts/images/1blankspace.View.opportunity.large.png);
}

#ns1blankspaceViewProject
{
	background-image:url(/jscripts/images/1blankspace.View.project.png);
}

#ns1blankspaceViewProjectLarge
{
	background-image:url(/jscripts/images/1blankspace.View.project.large.png);
}

#ns1blankspaceViewAction
{
	background-image:url(/jscripts/images/1blankspace.View.action.png);
}

#ns1blankspaceViewActionLarge
{
	background-image:url(/jscripts/images/1blankspace.View.action.large.png);
}

#ns1blankspaceViewDocument
{
	background-image:url(/jscripts/images/1blankspace.View.document.png);
}

#ns1blankspaceViewDocumentLarge
{
	background-image:url(/jscripts/images/1blankspace.View.document.large.png);
}

#ns1blankspaceViewNews
{
	background-image:url(/jscripts/images/1blankspace.View.news.png);
}

#ns1blankspaceViewEvent
{
	background-image:url(/jscripts/images/1blankspace.View.event.png);
}

#ns1blankspaceViewEventLarge
{
	background-image:url(/jscripts/images/1blankspace.View.event.large.png);
}

#ns1blankspaceViewNewsLarge
{
	background-image:url(/jscripts/images/1blankspace.View.news.large.png);
}

#ns1blankspaceViewProduct
{
	background-image:url(/jscripts/images/1blankspace.View.product.png);
}

#ns1blankspaceViewProductLarge
{
	background-image:url(/jscripts/images/1blankspace.View.product.large.png);
}

#ns1blankspaceViewOrder
{
	background-image:url(/jscripts/images/1blankspace.View.order.png);
}

#ns1blankspaceViewOrderLarge
{
	background-image:url(/jscripts/images/1blankspace.View.order.large.png);
}

#ns1blankspaceViewFinancial
{
	background-image:url(/jscripts/images/1blankspace.View.financial.png);
}

#ns1blankspaceViewFinancialLarge
{
	background-image:url(/jscripts/images/1blankspace.View.financial.large.png);
}

#ns1blankspaceViewHelp
{
	background-image:url(/jscripts/images/1blankspace.View.help.png);
}

#ns1blankspaceViewHelpLarge
{
	background-image:url(/jscripts/images/1blankspace.View.help.large.png);
}

#ns1blankspaceViewSetup
{
	background-image:url(/jscripts/images/1blankspace.View.setup.png);
}

#ns1blankspaceViewSetupLarge
{
	background-image:url(/jscripts/images/1blankspace.View.setup.large.png);
}

#ns1blankspaceViewSetupWebsite
{
	background-image:url(/jscripts/images/1blankspace.View.setup.website.png);
}

#ns1blankspaceViewSetupWebsiteLarge
{
	background-image:url(/jscripts/images/1blankspace.View.setup.website.large.png);
}

#ns1blankspaceViewSetupUser
{
	background-image:url(/jscripts/images/1blankspace.View.setup.website.png);
}

#ns1blankspaceViewSetupUserLarge
{
	background-image:url(/jscripts/images/1blankspace.View.setup.website.large.png);
}

#ns1blankspaceViewMessagingEmail
{
	background-image:url(/jscripts/images/1blankspace.View.messaging.email.png);
}

#ns1blankspaceViewMessagingEmailLarge
{
	background-image:url(/jscripts/images/1blankspace.View.messaging.email.large.png);
}

#ns1blankspaceViewReport
{
	background-image:url(/jscripts/images/1blankspace.View.report.png);
}

#ns1blankspaceViewMessagingConversation
{
	background-image:url(/jscripts/images/1blankspace.View.messaging.conversation.png);
}

#ns1blankspaceViewMessagingConversationLarge
{
	background-image:url(/jscripts/images/1blankspace.View.messaging.conversation.large.png);
}

#ns1blankspaceViewReportLarge
{
	background-image:url(/jscripts/images/1blankspace.View.report.large.png);
}

#ns1blankspaceViewAutomation
{
	background-image:url(/jscripts/images/1blankspace.View.automation.png);
}

#ns1blankspaceViewAutomationLarge
{
	background-image:url(/jscripts/images/1blankspace.View.automation.large.png);
}

#ns1blankspaceViewDeveloper
{
	background-image:url(/jscripts/images/1blankspace.View.developer.png);
}

#ns1blankspaceViewDeveloperLarge
{
	background-image:url(/jscripts/images/1blankspace.View.developer.large.png);
}

#ns1blankspaceViewDeveloperSpace
{
	background-image:url(/jscripts/images/1blankspace.View.developer.space.png);
}

#ns1blankspaceViewDeveloperSpaceLarge
{
	background-image:url(/jscripts/images/1blankspace.View.developer.space.large.png);
}

#ns1blankspaceViewDeveloperBilling
{
	background-image:url(/jscripts/images/1blankspace.View.developer.billing.png);
}

#ns1blankspaceViewDeveloperBillingLarge
{
	background-image:url(/jscripts/images/1blankspace.View.developer.billing.large.png);
}

#ns1blankspaceViewSetupSpace
{
	background-image:url(/jscripts/images/1blankspace.View.setup.space.png);
}

#ns1blankspaceViewSetupSpaceLarge
{
	background-image:url(/jscripts/images/1blankspace.View.setup.space.large.png);
}

body 
{
	font-size: 100%;
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
}

span, div, textarea, input, td
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	vertical-align: top;
}

h2, th
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	vertical-align: top;
	font-size:0.875em;
}

h3
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	vertical-align: top;
	font-size:0.75em;
}

table
{
	width: 100%;
}

a:link, a:visited, a:active
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	color: #ee8f00; 
	text-decoration: none;
	font-size: 0.875em;
}

a:hover
{
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	color: #006EBA;
	font-size: 0.875em;
}

#ns1blankspace
{
	position: absolute;
	width: 900px;
	top: 0;
	margin-top: 15px;
}

#ns1blankspaceHomeColumn1
{
	padding-top: 10px;
	padding-right: 15px;
}

#tns1blankspaceHomeColumn2
{
	padding-left: 15px;
	border-left-style:solid;
	border-width: 1px;
	border-color: #B8B8B8;
}

#ns1blankspaceViewControl
{
	position: absolute;
	width: 150px;
	left: 0px;
	top: 120px;
	margin-top: 20px;
	border-right-style:solid;
	border-width: 2px;
	border-color: #B8B8B8;
	padding-right: 20px;
}

#ns1blankspaceUploadStatus
{
	padding-top: 20px;
	margin-top: 20px;
	font-family: "Verdana", "Arial", "Helvetica", "Sans-Serif";
	color: #006EBA;
	font-size: 0.875em;
}

#ns1blankspaceViewControlBrowse
{
	position: absolute;
	width: 900px;
	left: 0px;
	top: 48px;
	margin-top: 20px;
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #B8B8B8;
}

#ns1blankspaceMain
{
	position: absolute;
	width: 700px;
	left: 185px;
	top: 120px;
	margin-top: 20px;
}

#ns1blankspacePrint
{
	position: absolute;
	top: 75px;
}

#ns1blankspaceFooter
{
	position: absolute;
	width: 900px;
	left: 0px;
	bottom: 25px;
}

#ns1blankspaceView  ???
{
	position: relative;
	width: 900px;
	top: 0px;
}

#ns1blankspaceViewLogonName
{
	font-weight: bold;
	color: #999999;
	cursor: pointer;
	font-size: 0.875em;
	width: 250px;
	padding-bottom: 5px;
	text-align: right;
}

#ns1blankspaceViewSpaceText
{
	font-weight: 100;
	color: #CCCCCC;
	cursor: pointer;
	font-size: 1.25em;
	width: 250px;
	padding-bottom: 2px;
	text-align: right;
}

#ns1blankspaceViewControl
{
	position: absolute;
	top: 35px;
	width: 800px;
}

#ns1blankspaceViewControlHome
{
	position: absolute;
	top: 0px;
	left: 0px;	
}

#ns1blankspaceViewControlDestination
{
	position: absolute;
	top: 0px;
	left: 48px;	
}

#ns1blankspaceViewControlSet
{
	position: absolute;
	top: 0px;
	left: 128px;	
	width: 225px;
}

#ns1blankspaceViewControlSearch
{
	position: absolute;
	top: 1px;
	left: 360px;
	width: 45px;	
}

#ns1blankspaceViewControlSearchStatus
{
	position: absolute;
	top: 5px;
	left: 461px;
	width: 20px;	
	z-index: 1;
}

#ns1blankspaceViewControlNew
{
	position: absolute;
	top: 0px;
	left: 502px;	
}

#ns1blankspaceViewControlAction
{
	position: absolute;
	top: 0px;
	left: 564px;
}

#ns1blankspaceViewControlActionStatus
{
	position: absolute;
	top: 0px;
	left: 648px;
	padding-top: 0px;
	height: 25px;
	color: #A0A0A0;
	width:170px;
	padding-bottom: 4px;
	border-bottom-style:solid;
	border-width: 2px;
	border-color: #f3f3f3;
}

#ns1blankspaceViewControlSetup
{
	position: absolute;
	top: 0px;
	left: 838px;
}

#ns1blankspaceViewControlHelp
{
	position: absolute;
	top: 0px;
	left: 870px;
}

#ns1blankspaceViewControlOptions
{
	position: absolute;
	width: 100px; 
	z-index: 999;
	background-color: transparent;
}

#ns1blankspaceDialog
{
	position: relative;
	width: 100px; 
	z-index: 99;
	background-color: transparent;
}

#ns1blankspaceControlContext
{
	font-size: 1em;
	font-weight: bold;
	text-align: right;
	width: 100%;
	margin-right: 20px;
}

#ns1blankspaceControlSubContext
{
	font-size: 0.875em;
	color: #A0A0A0;
	font-weight: normal;
}

span.ns1blankspaceControlSubContext
{
	font-size: 0.875em;
	color: #A0A0A0;
	font-weight: normal;
}

#ns1blankspaceControl
{
	padding-top: 20px;
	padding-right: 0px;
}

table.ns1blankspaceControl
{
	padding-top: 20px;
	padding-right: 0px;
}

span.ns1blankspaceControl
{
	font-size: 0.875em;
}	

span.ns1blankspaceHome
{
	font-size: 0.75em;
}	

span.ins1blankspaceMessagingHeader
{
	color: #808080;
}

div.ns1blankspaceView
{
	font-size: 0.875em;
}	

div.ns1blankspaceViewOptions
{
	background-color: transparent;
}

input.ns1blankspaceView
{
	font-size: 1em;
	height: 22px;
	width: 165px;
	margin-top: 1px;
	padding-left: 3px;
}

td.ns1blankspaceMain
{
	font-size: 0.875em;
	color: #B8B8B8;
	font-weight: bold;
	
	padding-top: 5px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 2px;
}


input.ns1blankspaceRadio, td.ns1blankspaceRadio
{
	font-size: 0.875em;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 2px;
}

div.ns1blankspaceDragRow
{
	cursor: pointer;
	font-size: 0.75em;
	background-color: #F6F6F6;
	color: black;
	font-weight: bold;
	text-align: right;

	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	padding-left: 4px;
	
	border-style:solid;
	border-width: 2px;
	border-color: white;
}

span.ins1blankspaceDragRow
{
	color: #B8B8B8;
	text-align: right;
	font-weight: normal;
}

td.ns1blankspaceSummaryValue
{
	font-size: 1.0em;
	color: #000000;
	
	padding-top: 1px;
	padding-bottom: 1px;
}

td.ns1blankspaceColumn
{
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 20px;
}

textarea.ns1blankspaceTextMulti
{
	height: 250px;
	width: 250px;
	font-size: 0.875em;
	border-style: solid;
	border-width: 1px;
	border-color: #B8B8B8;
	padding-left: 3px;
	padding-top: 3px;
	margin-bottom: 5px;
}

textarea.ns1blankspaceTextMultiLarge
{
	height: 250px;
	width: 100%;
	font-size: 0.875em;
	border-style: solid;
	border-width: 1px;
	border-color: #B8B8B8;
	padding-left: 3px;
	padding-top: 3px;
	margin-bottom: 5px;
}

textarea.ns1blankspaceTextMultiSmall
{
	height: 50px;
	width: 100%;
	font-size: 0.875em;
	border-style: solid;
	border-width: 1px;
	border-color: #B8B8B8;
	padding-left: 3px;
	padding-top: 3px;
	margin-bottom: 5px;
}

.ns1blankspaceSelect, .ins1blankspaceSelectContact, .ns1blankspaceSelectContactEmail, .ns1blankspaceSelectCustom
{
	width: 100%;
	font-size: 0.875em;
	border-style: solid;
	border-width: 1px;
	border-color: #B8B8B8;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
}

.ns1blankspaceText, .ins1blankspaceTextMoney
{
	width: 100%;
	font-size: 0.875em;
	border-style: solid;
	border-width: 1px;
	border-color: #B8B8B8;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
}

.ns1blankspaceDate, .ns1blankspaceDateTime
{
	width: 100%;
	font-size: 0.875em;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #B8B8B8;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
}

.ns1blankspaceRadio
{
	font-size: 0.875em;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
}

.ns1blankspaceDateTime
{
	margin-bottom: 5px;
}

span.ns1blankspaceControl, tr.ns1blankspaceControl
{
	background-color: transparent;
}

td.ins1blankspaceControl
{
	cursor: pointer;
	padding-bottom: 5px;
}

td.ns1blankspaceControlColumn
{
	background-color: white;
	border-style: solid;
	border-width: 3px;
	border-color: #F8F8F8;
}

table.ns1blankspaceMasterControl, table.ns1blankspaceSearch
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 175px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-top:8px;
	margin-bottom:1px;
	margin-right:1px;
	margin-left:1px;
}

table.ns1blankspaceControlColumn
{
	background-color: transparent;
	width: 115px;
	
	padding-top: 1px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;

	margin-top:1px;
	margin-bottom:1px;
	margin-right:1px;
	margin-left:1px;
}

table.ns1blankspaceSearchMedium
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 250px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-bottom: 1px;
	margin-right: 1px;
	margin-left: 1px;
}

table.ns1blankspaceDialogMedium
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 250px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #ee8f00;
}

table.ins1blankspaceDropDown
{
	font-size: 0.75em;
	background-color: #F8F8F8;
	width: 100px;
	
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 3px;
	
	border-width: 0px;
	
	margin-top:4px;
}


.ns1blankspaceSearchFooterPage, .ns1blankspaceSearchFooter , .ns1blankspaceSearchHeaderClose
{
	cursor: pointer;
}	

table.ns1blankspaceSearchHeaderMedium
{
	font-size: 0.75em;
	background-color: #E8E8E8;
	width: 250px;
	margin-top: 8px;
}

table.ns1blankspaceSearchFooterMedium
{
	font-size: 0.75em;
	background-color: #E8E8E8;
	width: 250px;
}

td.ns1blankspaceSearchHeaderMore
{
	padding-right: 0px;
	text-align: right;
	cursor: pointer;
}

table.ns1blankspaceHeader
{
	margin-bottom: 10px;
}

td.ns1blankspaceHeader
{
	padding-bottom: 2px;
	margin-bottom: 10px;
	
	text-align: right;
	cursor: pointer;
	font-size: 0.75em;
	
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #E8E8E8;
}

table.ns1blankspaceSearchLarge
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 325px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-top: 8px;
	margin-bottom: 1px;
	margin-right: 1px;
	margin-left: 1px;
}

.ns1blankspaceDialog
{
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 1px;
	margin-left: 1px;
}

table.ns1blankspaceSearchFull
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 100%;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-top: 8px;
	margin-bottom: 1px;
	margin-right: 1px;
	margin-left: 1px;
}

table.ns1blankspaceHomeOptions, table.ns1blankspaceUserOptions
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 275px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-top:8px;
	margin-bottom:1px;
	margin-right:1px;
	margin-left:1px;
}

table.ns1blankspaceActionOptions
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 150px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-top:8px;
	margin-bottom:1px;
	margin-right:1px;
	margin-left:1px;
}

table.ns1blankspaceHomeOptionsLarge
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 475px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 3px;
	border-color: #E8E8E8;
	
	margin-top:0px;
	margin-bottom:1px;
	margin-right:1px;
	margin-left:1px;
}

table.ns1blankspaceOptionsHeaderLarge
{
	font-size: 0.875em;
	background-color: #E8E8E8;
	width: 475px;
	
	padding-top: 5px;
	padding-bottom: 1px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 2px;
	border-color: #E8E8E8;
	
	margin-top:5px;
	margin-bottom:0px;
	margin-right:1px;
	margin-left:1px;
}

td.ns1blankspaceHomeOptionContext
{
	font-weight: bold;
}

td.ns1blankspaceHomeOptionClose
{
	padding-top: 5px;
	text-align: right;
	cursor: pointer;
	font-size: 0.75em;
	color: #A8A8A8;
	font-weight: bold;
}

table.ns1blankspaceShow
{
	font-size: 0.875em;
	background-color: #F8F8F8;
	width: 200px;
	
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	
	border-style: solid;
	border-width: 5px;
	border-color: #E8E8E8;
	border-spacing: 0px;
	border-collapse:collapse;
	
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
	margin-left:5px;
}

td.ns1blankspaceSearch, td.ns1blankspaceHomeOptions, td.ns1blankspaceUserOptions, td.ns1blankspaceSearchSub, td.ns1blankspaceActionOptions
{
	border-top-style: solid;
	border-width: 0px;
	border-color: #B8B8B8;
	cursor: pointer;
	font-size: 0.875em;
}

td.ns1blankspaceMostLikely, td.ns1blankspaceRowSelect
{
	cursor: pointer;
	color: #ee8f00;
	text-decoration: none;
	font-size: 0.875em;
}

td.ns1blankspaceMostLikelySub
{
	color: #808080;
	font-size: 0.75em;
	padding-left: 15px;
	vertical-align: bottom;
}

span.ns1blankspaceHomeOptions
{
	color: #888888;
	cursor: pointer;
	padding-left: 5px;
}

td.ns1blankspaceViewControlSub
{
	color: #808080;
	font-size: 0.75em;
}

td.ns1blankspaceMessagingSubHeader, td.ns1blankspacePaginationListSubHeader
{
	color: #808080;
	font-size: 0.75em;
}

td.ns1blankspaceViewControl
{
	text-align: right;
	padding-right: 0px;
	cursor: pointer;
}

td.ns1blankspaceHomeView
{
	text-align: right;
	padding-right: 0px;
	font-weight: bold;
}

table.ns1blankspaceViewControl
{
	width: 100%;
	margin-right: 20px;
	vertical-alignment: top;
}

table.ins1blankspaceHomeView
{
	width: 100%;
	vertical-alignment: top;
}

#ns1blankspaceColumn1
{
	width: 50%;
}

#ns1blankspaceColumn2
{
	width: 50%;
}

td.ns1blankspaceSummaryValue
{
	padding-bottom: 10px;
}

td.ns1blankspaceSummary
{
	color: #B8B8B8;
	font-weight: bold;
}

td.ns1blankspaceSummaryAction
{
	color: #FFCC00;
}

td.ns1blankspaceColumn1
{
	width: 50%;
	padding-right: 15px;
}

td.ns1blankspaceColumn1Large
{
	padding-right: 15px;
}

td.ns1blankspaceColumn2Action
{
	border-left-style:solid;
	border-width: 2px;
	border-color: #B8B8B8;
	padding-left: 10px;
	width: 50px;
}

td.ns1blankspaceColumn2
{
	border-left-style:solid;
	border-width: 2px;
	border-color: #B8B8B8;
	padding-left: 10px;
}

input.ns1blankspaceUpload
{
	width: 150px;
}

.ns1blankspaceMarginTop
{
	margin-top: 15px;
}

td.ns1blankspaceAction, span.ns1blankspaceAction
{
	font-size: 0.75em;
}

td.ns1blankspaceImportant
{
	color: red; 
}

td.ns1blankspaceInactive
{
	color: #CCCCCC;
}

#ns1blankspaceViewControlSearch
{
	width: 130px;
	font-size: 0.875em;
	padding:1px;
	padding-left:3px;
	margin:0px;
}	

#ns1blankspaceViewControlSearchStatus
{
	padding-top: 5px;
}

#ns1blankspaceBox
{
	position: absolute;
	font-size: 0.75em;
	width: 275px;
	top: 60px;
}

#dns1blankspaceViewSpaceName
{
	top: 0;
	left: 0;
	height: 75px;
}

#ns1blankspaceHeaderColumn1
{
	text-align: left;
	vertical-align: bottom;
}

#ns1blankspaceHeaderColumn2
{
	text-align: right;
	vertical-align: bottom;
}

#ns1blankspaceHeader
{
	width: 900px;
	margin-top: 5px;
}

span.ns1blankspaceOptionsClose
{
	position: absolute;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 7px;
	height: 30px;
}

td.ns1blankspaceShowAction
{
	vertical-align: middle;
	height: 30px;
}

td.ns1blankspaceRowSelect
{
	cursor: pointer;
	border-spacing: 0px;
}

td.ns1blankspaceCaption, td.ns1blankspaceHomeOptionCaption, td.ns1blankspaceShowHeader
{
	font-size: 0.875em;
	color: #888888;
	font-weight: bold;
	padding: 2px;
	background-color: #F8F8F8;
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #FFFFFF;	
}

td.ns1blankspaceCaptionSuper
{
	font-size: 1.0em;
	color: #888888;
	padding-top: 4px;
	padding-bottom: 2px;
	background-color: #F8F8F8;
	border-bottom-style:solid;
	border-width: 3px;
	border-color: #FFFFFF;	
}

td.ns1blankspaceHomeOptionCaptionOptions
{
	font-size: 0.875em;
	color: #888888;
	font-weight: bold;
	padding: 2px;
	background-color: #F8F8F8;
}

td.ns1blankspaceHomeAction
{
	font-size: 0.75em;
	color: #888888;
	padding: 1px;
	background-color: transparent;
}

td.ns1blankspaceCaptionRight
{
	font-size: 0.875em;
	color: #888888;
	font-weight: bold;
	padding: 2px;
	text-align: right;	
}

td.ns1blankspaceHighlight
{
	font-weight: bold;	
	color: #ee8f00;	
}

input.ns1blankspaceHighlight
{
	border-style:solid;
	border-width: 1px;
	border-color: #ee8f00;	
}

textarea.ns1blankspaceHighlight
{
	border-style:solid;
	border-width: 1px;
	border-color: #ee8f00;	
}

.Highlight
{
	font-weight: bold;	
	color: #ee8f00;	
}

td.ns1blankspaceCaptionCentre
{
	font-size: 0.875em;
	color: #888888;
	font-weight: bold;
	padding: 2px;
	text-align: center;	
}

td.ns1blankspaceRow, td.ns1blankspaceRowOptions
{
	font-size: 0.875em;
	border-spacing: 0px;
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #D0D0D0;	
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 2px;
}

td.ns1blankspaceHomeOptionRow
{
	font-size: 0.875em;
	border-spacing: 0px;
	border-bottom-style:solid;
	border-width: 2px;
	border-color: #FFFFFF;	
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 2px;
}

td.ns1blankspaceNothing
{
	font-size: 0.875em;
	color: #888888;
}

td.ns1blankspaceRowOptions
{
	padding-top: 0px;
}

td.ns1blankspaceColumnCaption
{
	font-size: 0.875em;
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #888888;	
	background-color: transparent;
	width: 70%;
	color: #888888;	
}


td.ns1blankspaceValue
{
	font-size: 0.875em;
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #888888;	
	background-color: transparent;	
}

td.ns1blankspaceReadOnly
{
	font-size: 0.875em;
	color: #585858;
	font-weight: normal;
	
}

td.ns1blankspaceRowSelect
{
	margin-left: 5px;
}

table.ns1blankspaceViewControlBrowse
{
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #888888;	
}

td.ins1blankspaceViewControlBrowse
{
	border-right-style:solid;
	border-width: 1px;
	border-color: #888888;	
	cursor: pointer;
	color: #888888;
	text-align: center;
	width: 20px;
	background-color: #F8F8F8;
}

td.ins1blankspaceViewControlBrowseAll
{
	cursor: pointer;
	color: #888888;
	text-align: center;
	width: 20px;
	background-color: #F8F8F8;
}

td.ins1blankspaceCalendar
{
	color: #888888;
	text-align: right;
	font-size: 0.875em;
}

.ns1blankspaceWatermark
{
	color: #BCBCBC;
	font-style: italic;
}

table.ns1blankspaceDropDown
{
	background-color: #F8F8F8;
	
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 3px;
	
	border-style: solid;
	border-width: 1px;
	border-color: #E8E8E8;
	
	margin-top:-4px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
}

.ns1blankspaceBorder
{
	border-style:solid;
	border-width: 1px;
	border-color:#D0D0D0;	
}

span.ns1blankspaceAtoZ
{
	width: 7px;
}	